body{
  margin-right 1px;
}

#contentBox{
  border: solid 1px blue;
  margin: 37px;
  padding: 14px;
  width: 200px;
  position: fixed;
 
}

#containerBox{
  
    /*static | relative | absolute | fixed | sticky; */
  top: 0px;
  left: 10%;
  margin: auto;
  height: 300px;
  width: 40%;
  background-color: #FF7043;
}

.floatBox{
  height: 50px;
  width: 50px;
  background-color: tomato;
  float: left;
  clear: right;
  padding: 10px;
  margin-right: 4px;
}

.clearBox{
  clear: right;
}